body{
  font-family: Helvetica;
}

h1{
  margin: 0;
  font-weight: 700;
  color: white;
  padding-bottom: 1rem;
}

.container{
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
}
.search-container{
  background-color: white;
  width: 100%;
  border-radius: 0.75rem;
  height: 2rem;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.search-container input{
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

.search-container input:focus{
  outline: none;
}

.add-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 1.5rem;
}

.add-container input{
  background-color: white;
  width: 100%;
  border: none;
  border-radius: 0.75rem;
  height: 2rem;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.add-container input:focus{
  outline: none;
}

.add-container button{
  color: white;
  background-color: rgb(15, 15, 15);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 8px #111111;
  border: none;
  height: 100%;
}

.list-container ul{
  padding-left: 1rem;
}

.list-container li{
  margin-top: 1rem;
}

.list-container li::marker{
  color: aliceblue;
  font-size:larger;
}

.element-container{
  display: flex;
  justify-content: space-between;
}

.element-container div{
  max-width: 15rem;
  overflow-wrap: break-word;
  color: aliceblue;
}

.element-container button{
  color: white;
  background-color: rgb(219, 5, 5);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 8px #530000;
  border: none;
  height: 2rem;
  margin-left: 1rem;
}